LLM_PROVIDER=openai
OPENAI_API_KEY=your-open-api-key
AWS_REGION=ap-northeast-1
BEDROCK_MODEL_ID=apac.anthropic.claude-3-5-sonnet-20240620-v1:0
MISP_URL=https://misp-core
MISP_KEY=your-misp-key
DAYS_BACK=7